.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input {
  width: 89%;
  height: 54px;
  padding: 1rem;
  border-radius: 8px;

  background-color: var(--gray-500);
  border: none;
  color: var(--gray-100);
}

.form input:focus {
  outline: 1px solid var(--purple);
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 10%;
  border-radius: 8px;
  background-color: var(--dark-blue);
  border: none;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;
  transition: 0.3s;
}

.form button:hover {
  background: var(--blue);
}

@media (max-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .form input {
    width: 100%;
  }

  .form button {
    width: 100%;
    height: 54px;
  }
}

.status {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;

  font-size: 0.875rem;
  font-weight: bold;
}

.created {
  color: var(--blue);
}

.created:hover {
  color: var(--dark-blue);
}

.concluded {
  color: var(--purple);
}

.concluded:hover {
  color: var(--dark-purple);
}

.created span,
.concluded span {
  margin-left: 0.5rem;
  background-color: var(--gray-400);

  font-size: 0.75rem;
  color: var(--gray-200);
  padding: 0 0.5rem;
  border-radius: 7px;
}

.tasks {
  margin-top: 1.5rem;
}

.empty {
  border-top: 1px solid var(--gray-400);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks .empty .clipboard {
  margin-top: 4rem;
}

.tasks .empty p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks .empty p span {
  font-weight: 400;
}
